<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RabbitMQ.LoadTester.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <RabbitMQ.LoadTester.Properties.Settings>
            <setting name="ServiceBusHost" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="ServiceBusAMQPPort" serializeAs="String">
                <value>5672</value>
            </setting>
        </RabbitMQ.LoadTester.Properties.Settings>
    </applicationSettings>
</configuration>